header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: calc(40px + (calc(1.3vw + 15px) * 2) + 1px);
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: calc(1.3vw + 15px);
  padding-bottom: calc(1.3vw + 15px);
  background-color: #1e1d1d;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: all 0.3s;

  .logoHome {
    width: clamp(196px, 12.7vw, 272px);
    height: clamp(32px, 2.5rem, 48px);
  }

  nav.mainMenuWrap {
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    transform: translateX(-50%);

    display: flex;
    justify-content: space-between;
    align-items: center;

    .depth0 {
      position: relative;
      height: 100%;
      width: 100%;
      .linkHeaderWhite {
        display: flex;
        align-items: center;
        color: var(--color-white);
        height: 100%;
        width: 100%;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 22px;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: 0.02em;
        white-space: nowrap;
        transition: color 0.4s;
      }
    }
  }
}

header.active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
