@font-face {
  font-family: 'HanwhaGothic';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/06HanwhaGothicL_OTF.otf') format('opentype');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
  font-family: 'HanwhaGothic';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/05HanwhaGothicR_OTF.otf') format('opentype');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
  font-family: 'HanwhaGothic';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/04HanwhaGothicB_OTF.otf') format('opentype');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
  font-family: 'HanwhaGothic';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/07HanwhaGothicEL_OTF.otf') format('opentype');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
  font-family: 'Hanwha';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/03HanwhaL_OTF.otf') format('opentype');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}
