* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline-style: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: middle;
  border: 0;
}

a {
  text-decoration: none;
  color: #000;
}

html {
  font-size: 0.8333333333vw;
}
@media all and (min-width: 2200px) {
  html {
    font-size: 0.8vw;
  }
}

@media all and (max-width: 2199px) {
  html {
    font-size: 0.8333333333vw;
  }
}

@media all and (max-width: 1799px) {
  html {
    font-size: 0.88vw;
  }
}

@media all and (max-width: 1399px) {
  html {
    font-size: 0.93vw;
  }
}

@media (min-width: 2560px) {
  html {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 9px;
  }
}

body {
  font-size: 30px;
}

html body {
  font-family: 'HanwhaGothic', sans-serif;
  font-weight: normal;
}

// container
.inner {
  display: block;
  position: relative;
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
}

// btn
.btn3-en {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.02em;
  font-family: 'canada-type-gibson', sans-serif;
}

.bttn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  transition: all 0.34s ease-in-out;
  cursor: pointer;
}

// cusur
.mouse-point {
  cursor: pointer;
}

// row
.row-sp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
