* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline-style: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: middle;
  border: 0;
}

a {
  text-decoration: none;
  color: #000;
}

html {
  font-size: 16px;
}

body {
  font-size: 16px;
}

html body {
  font-family: 'HanwhaGothic', sans-serif;
  font-weight: normal;
}
