* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline-style: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: middle;
  border: 0;
}

a {
  text-decoration: none;
  color: #000;
}

html {
  font-size: 16px;
}

body {
  font-size: 16px;
}

html body {
  font-family: 'HanwhaGothic', sans-serif;
  font-weight: normal;
}

// container
.inner {
  display: block;
  position: relative;
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
}

// btn
.btn3-en {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.02em;
  font-family: 'canada-type-gibson', sans-serif;
}

// cusur
.mouse-point {
  cursor: pointer;
}
