ul.iconWrap {
  display: flex;
  gap: 1.375em;
  align-items: center;
  position: relative;

  li {
    font-size: 16px;
    a {
      font-size: 20px;
      color: white;
    }
  }
}

ul.atv {
  li {
    opacity: 0.5;

    transition: all 0.3s;

    &:hover {
      opacity: 1;
    }
  }
}
